<div class="content" role="main">
  <div class="card highlight-card card-small">
    <span>Jelenleg megvásárolható könyveink listája:</span>
  </div>
  <div>
    <ul style="list-style-type: none;">
      <div style="border: 5px; border-color: black;">
        <li *ngFor="let x of books">
          <h2>{{x.title}}</h2>
          <h3>{{x.author}}</h3>
          <h4>{{x.ISBN}}</h4>
          <h5>{{x.desciption}}</h5>
          <div>
            <div>
              <div>
                <div>{{x.price}}</div>
                <div>
                  <button type="button" (click)="addBookToCart(x.ISBN)">Akarom!</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <button [routerLink]="['/getCart']">Mutasd a kosarat!</button>
  </div>
  <div>
    <button [routerLink]="['/modifyUser']">Change my data</button>
  </div>
  <div>
    <button [routerLink]="['/login']">Logout</button>
  </div>
</div>

<router-outlet></router-outlet>