<div class="content" role="main">
  <h2 *ngIf="router.url === '/register'">Registration</h2>
  <h2 *ngIf="router.url === '/modifyUser'">Modification</h2>
  <div *ngIf="router.url === '/register'">
    <label>Username</label>
    <input type="text" id="username" [(ngModel)]="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" id="password" [(ngModel)]="password">
  </div>
  <div *ngIf="router.url === '/register'">
    <div>
      <button (click)="register()">REGISTER</button>
    </div>
    <div>
      <a [routerLink]="['/login']">Back to login</a>
    </div>
  </div>
  <div *ngIf="router.url === '/modifyUser'">
    <button (click)="modifyUser()">CHANGE</button>
  </div>
  <div *ngIf="router.url === '/modifyUser'">
    <button [routerLink]="['/login']">Logout</button>
  </div>
</div>